header {
  background-color: #FDB913;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > a{
  padding-right: 2rem;
}

nav > a:hover{
  color: white;
}

.logo {
  font-family: monospace;
  font-size: 1.25rem;
  font-weight: bold;
}

.username {
  font-weight: bold;
}

.search-bar {
  background-color: #ffe084;
  border: none;
  padding: 0.5rem 1rem;
  width: 300px;
  font-style: italic;
  display: none;
}