header {
  background-color: #FDB913;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo {
  font-family: monospace;
  font-size: 1.25rem;
  font-weight: bold;
}

.logo:hover{
  color: white;
}

.username {
  font-weight: bold;
}

.search-bar {
  background-color: #ffe084;
  border: none;
  padding: 0.5rem 1rem;
  max-width: 300px;
  font-style: italic;
}

@media (max-width: 470px ){
  .search-bar{
    padding: 0.5rem;
  }
}